body {
    background-color: $color1;
}
#carro {
    display: flex;
    flex-direction: column;

    #compras {
        margin: 0 auto;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
        align-items: center;
        background-color: $color1;
        color: black;
        cursor: initial;

        p {
            margin: 0 auto;
            text-align: center;
        }
    }
}
